
/* =========================================
   DESKTOP TYPOGRAPHY
========================================= */

/* H1 - Main Heading */
.heading-main {
  font-weight: 500;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 0;
  text-align: center;
}

/* Secondary Large Heading */
.heading-large {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}

/* Subheading / Highlight */
.subheading {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}

/* Body Primary */
.paragraph-body {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
}

/* Body Secondary */
.paragraph-secondary {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

/* Caption Text */
.caption-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
}

.font-med{
  font-weight: 500;
}

.font-smbold{
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* =========================================
   MOBILE TYPOGRAPHY (<= 768px)
========================================= */

@media (max-width: 768px) {

  /* H1 */
  .heading-main {
    font-size: 32px;
    line-height: 40px;
  }

  /* Secondary Heading */
  .heading-large {
    font-size: 24px;
    line-height: 32px;
  }

  /* Subheading */
  .subheading {
    font-size: 16px;
    line-height: 1.4;
  }

  /* Body Primary */
  .paragraph-body {
    font-size: 16px;
    line-height: 1.4;
  }

  /* Body Secondary */
  .paragraph-secondary {
    font-size: 14px;
    line-height: 1.4;
  }

  /* Caption */
  .caption-text {
    font-size: 16px;
    line-height: 1.4;
  }

  .card-title {
    font-size: 18px;
    line-height: 100%;
  }
}


/* =========================================
   SMALL MOBILE (<= 480px)
========================================= */

@media (max-width: 480px) {

  .heading-main {
    font-size: 32px;
    line-height: 40px;

  }

  .heading-large {
    font-size: 22px;
    line-height: 30px;
  }

  .subheading {
    font-size: 15px;
  }

  .paragraph-body {
    font-size: 15px;
  }

  .paragraph-secondary {
    font-size: 13px;
  }

  .caption-text {
    font-size: 14px;
  }
   .card-title {
    font-size: 18px;
    line-height: 100%;
  }
}