/* PARTICLES FLOAT */
@keyframes floatParticle {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) translateX(40px);
    opacity: 0;
  }
}

.animate-float {
  animation: floatParticle linear infinite;
}

/* WAVES ROTATION + PULSE */
@keyframes wavePulse {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.06) rotate(180deg);
    opacity: 0.6;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 0.3;
  }
}

.wave-ring {
  animation: wavePulse 10s linear infinite;
}

/* SOUL FLOATING */
@keyframes soulFloat {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-14px); }
  100% { transform: translateY(0px); }
}

.animate-soul {
  animation: soulFloat 5s ease-in-out infinite;
  filter: 
  drop-shadow(0 0 12px rgba(113, 172, 97, 0.5))
  drop-shadow(0 0 30px rgba(194, 224, 186, 0.6));
}

/* GLOW CORE BREATH */
/* @keyframes glowBreath {
  0%,100% {
    box-shadow: 
      0 0 35px rgba(255, 120, 0, 0.6),
      0 0 90px rgba(255, 80, 0, 0.5);
  }
  50% {
    box-shadow: 
      0 0 70px rgba(255, 140, 0, 1),
      0 0 150px rgba(255, 60, 0, 0.8);
  }
} */


@keyframes glowBreath {
  0%,100% {
    box-shadow: 
      0 0 40px rgba(113, 172, 97, 0.4),
      0 0 100px rgba(194, 224, 186, 0.5);
  }
  50% {
    box-shadow: 
      0 0 80px rgba(113, 172, 97, 0.7),
      0 0 160px rgba(194, 224, 186, 0.7);
  }
}

/* .glow-core {
  background: radial-gradient(
    circle,
    rgba(255, 140, 0, 0.6),
    rgba(255, 60, 0, 0.2),
    transparent 70%
  );
  animation: glowBreath 4s ease-in-out infinite;
} */

.glow-core {
  background: radial-gradient(
    circle,
    rgba(194, 224, 186, 0.9),
    rgba(113, 172, 97, 0.5),
    transparent 70%
  );
  animation: glowBreath 4s ease-in-out infinite;
}
/* Smooth button hover */
button {
  transition: all 0.3s ease;
}
