@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-animate {
  animation: fadeInOut 3s ease-in-out infinite;
  transition: all 0.8s ease-in-out;
}
